 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 /* common style */

 body {
     font-family: 'Poppins', sans-serif;
     background-color: #F3F1FF;
     ;
 }

 main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .container {
     margin-top: 36px;
     background-color: white;
     width: 870px;
     padding: 30px;
     border-radius: 5px;


 }

 /*----------------
  nav bar
  ------------- */

 .nav-bar {
     background-color: blueviolet;
     width: 100%;
     height: 94px;
 }

 .nav-icon {
     width: 40.42px;
     height: 51px;
 }

 nav {
     display: flex;
     justify-content: space-around;
     padding-top: 10px;
 }

 .header-icon {
     display: flex;
     width: 50%;
     justify-content: center;

 }

 .nav-title {
     color: #FFFFFF;
     font-weight: 500;
     font-size: 24px;
 }

 .nav-description {
     display: flex;
     align-items: center;
 }

 .common {
     margin-left: 20px;
 }

 /*-----------------------
 top players style
 ------------- */
 .top-players {
     margin: 30px;
 }

 .section-title {
     font-weight: 500;
     font-size: 24px;
     color: #562EFF;
     margin-top: 3px;

 }

 .players {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 36px;
 }

 .player {
     display: flex;
     align-items: center;
 }

 .player img {
     height: 56px;
     width: 56px;
 }

 .player-name {
     margin: 16px;
     font-size: 18px;
 }

 hr {
     border: 1px solid #D1D1D1;
     margin-bottom: 27px;
 }

 /* ---------
 top blog styles
 --------- */
 .blogs {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 26px;
 }

 .blog {
     display: flex;
 }

 .blog-info {
     margin-left: 16px;
 }

 .blog-title {
     font-size: 20px;
 }

 .blog .thumbnail img {
     width: 177px;
     height: 117px;
 }

 .blog-author {
     color: #9F9F9F;
     font-size: 16px;
 }

 .blog-author a {
     text-decoration: none;
     font-size: 16px;
     color: #562EFF;
 }

 /*---------------
 courses style
 --------------- */

 .courses {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
 }

 .course .course-banner img {
     width: 224.38px;
     height: 105.51px;
 }

 .course-info {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .fa-star {
     font-size: 12px;
 }

 .fa-star.filled {
     color: #FFC014;
 }

 .fa-star.empty {
     color: #AEAEAE;
 }

 /* ---------------
 media Queries
 ------------------- */
 /*-----------------
  mobile devices
  --------------- */
 @media only screen and (max-width:688px) {
     .container {
         width: 100%
     }

     .players,
     .blogs,
     .courses {

         grid-template-columns: repeat(1, 1fr);

     }

     .player,
     .blog {
         flex-direction: column;
     }

 }

 /* tablet divice */
 @media only screen and (min-width: 688px) and (max-width: 992px) {
     .container {
         width: 100%;
     }

     .players,
     .courses {

         grid-template-columns: repeat(2, 1fr);
     }

     .blogs {

         grid-template-columns: repeat(1, 1fr);
     }

 }